body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background: rgb(249, 250, 251);
}


.maining-box{
    height: 210px;
    width: 210px;
    background: #ad04d3;
    border-radius: 50%;
    box-shadow: 10px 10px 20px #dbdbd7,
                -10px -10px 20px #e5e5e3;
    
} 
.coins {
    height: 50px;
    width: 200px;
    background: #ffffff;
    box-shadow: 10px 10px 20px #dbdbd7,
    -10px -10px 20px #e5e5e3;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    text-align: center;
    color: #000000;
}
#number_list {
    margin-top: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.sign_in {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 10px 10px 20px #e5e5e3,
                -10px -10px 20px #dbdbd7;
    background: #a200c7c7;
    position: absolute;
    left: 5px;
    top: 20px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

